SELECT
    0 AS __id__,
    {% filter geometry %}{{ bounds['polygon']|bbox_padded_intersection('way') }}{% endfilter %} AS __geometry__,
    'ocean' AS water
{% if zoom < 5 %}
  FROM ne_ocean
{% elif zoom < 10 %}
  FROM simplified_ocean_polygons
{% else %}
  FROM ocean_polygons
{% endif %}
  WHERE {{ bounds['polygon']|bbox_filter('way',3857) }}
UNION ALL
{% if zoom < 5 %}
SELECT
    0 AS __id__,
    {% filter geometry %}{{ bounds['polygon']|bbox_padded_intersection('way') }}{% endfilter %} AS __geometry__,
    'lake' AS water
  FROM ne_lake
  WHERE {{ bounds['polygon']|bbox_filter('way',3857) }}
{% else %}
SELECT
    osm_id AS __id__,
    {% filter geometry %}{{ bounds['polygon']|bbox_padded_intersection('way') }}{% endfilter %} AS __geometry__,
    CASE
      WHEN waterway = 'riverbank' THEN 'riverbank'
      WHEN landuse = 'reservoir' then 'reservoir'
      ELSE water
    END
    FROM planet_osm_polygon
    WHERE {{ bounds['polygon']|bbox_filter('way',3857) }}
      AND (waterway = 'riverbank'
        OR landuse = 'reservoir'
        OR "natural" = 'water')
{% endif %}