[cache]
type = "file"
basepath = "cache"

[[providers]]
name = "osm2pgsql"
type = "postgis"
host = "/var/run/postgresql" # Default for Debian-based distributions
port = 5432                     # postgis database port
database = "gis"        # postgis database name
user = "pnorman"
password = ""

  [[providers.layers]]
  name = "ne_water"
  id_fieldname = "osm_id"
  geometry_fieldname = "way"
  sql = """
  SELECT
      row_number() OVER () AS osm_id,
      ST_AsBinary(way) AS way
    FROM (
    SELECT
        way
      FROM ne_ocean
      WHERE way && !BBOX!
    UNION ALL
    SELECT
        way
      FROM ne_lake
      WHERE way && !BBOX!
    ) _
  """

  [[providers.layers]]
  name = "lz_water"
  id_fieldname = "osm_id"
  geometry_fieldname = "way"
  sql = """
  SELECT
      row_number() OVER () AS osm_id,
      ST_AsBinary(way) AS way
    FROM (
      SELECT
          way
        FROM simplified_ocean_polygons
        WHERE way && !BBOX!
      UNION ALL
      SELECT
          way
        FROM planet_osm_polygon
        WHERE way && !BBOX!
          AND (waterway = 'riverbank'
            OR landuse = 'reservoir'
            OR "natural" = 'water')
          AND way_area > pixel_size(9)*4 -- working around tegola #343
    ) _
  """

  [[providers.layers]]
  name = "water"
  id_fieldname = "osm_id"
  geometry_fieldname = "way"
  sql = """
  SELECT
      row_number() OVER () AS osm_id,
      ST_AsBinary(way) AS way
    FROM (
      SELECT
          way
        FROM ocean_polygons
        WHERE way && !BBOX!
      UNION ALL
      SELECT
          way
        FROM planet_osm_polygon
        WHERE way && !BBOX!
          AND (waterway = 'riverbank'
            OR landuse = 'reservoir'
            OR "natural" = 'water')
          AND way_area > pixel_size(12)*4 -- working around tegola #343
    ) _
  """

  [[providers.layers]]
  name = "water_names"
  id_fieldname = "osm_id"
  geometry_fieldname = "way"
  sql = """
  SELECT
      row_number() OVER () AS osm_id,
      ST_AsBinary(way) AS way,
      name,
      area
    FROM (
      SELECT
          ST_PointOnSurface(way) AS way,
          name,
          way_area AS area
        FROM planet_osm_polygon
        WHERE way && !BBOX!
          AND name IS NOT NULL
          AND (landuse = 'reservoir'
            OR "natural" = 'water')
          AND NOT water = 'river'
          AND way_area > pixel_size(12)*16*16 -- working around tegola #343
      UNION ALL
      SELECT
          way,
          name,
          NULL AS area
        FROM planet_osm_line
        WHERE way && !BBOX!
          AND name IS NOT NULL
          AND waterway = 'river'
    ) _
    WHERE way && !BBOX!
  """

  [[providers.layers]]
  name = "cities"
  id_fieldname = "osm_id"
  geometry_fieldname = "way"
  sql = """
  SELECT
      row_number() OVER () AS osm_id,
      ST_AsBinary(way) AS way,
      name,
      place
    FROM (
      SELECT
          way,
          name,
          place
        FROM planet_osm_point
        WHERE way && !BBOX!
          AND (place = 'city'
            OR place = 'town' AND 8 < !ZOOM!
            OR place = 'village' AND 10 < !ZOOM!
            OR place = 'hamlet' AND 12 < !ZOOM!)
          AND name IS NOT NULL
    ) _
  """

  [[providers.layers]]
  name = "transport_z5"
  id_fieldname = "osm_id"
  geometry_fieldname = "way"
  sql = """
  SELECT
      row_number() OVER () AS osm_id,
      ST_AsBinary(way) AS way,
      name,
      ref,
      class,
      link
    FROM (
      SELECT
          way,
          name,
          ref,
          highway AS class,
          FALSE AS link
        FROM planet_osm_roads
        WHERE way && !BBOX!
          AND highway IN ('motorway')
    ) _
  """

  [[providers.layers]]
  name = "transport_z6"
  id_fieldname = "osm_id"
  geometry_fieldname = "way"
  sql = """
  SELECT
      row_number() OVER () AS osm_id,
      ST_AsBinary(way) AS way,
      name,
      ref,
      class,
      link
    FROM (
      SELECT
          way,
          name,
          ref,
          highway AS class,
          FALSE AS link
        FROM planet_osm_roads
        WHERE way && !BBOX!
          AND highway IN ('motorway', 'trunk')
    ) _
  """

  [[providers.layers]]
  name = "transport_z8"
  id_fieldname = "osm_id"
  geometry_fieldname = "way"
  sql = """
  SELECT
      row_number() OVER () AS osm_id,
      ST_AsBinary(way) AS way,
      name,
      ref,
      class,
      link
    FROM (
      SELECT
          way,
          name,
          ref,
          highway AS class,
          FALSE AS link
        FROM planet_osm_roads
        WHERE way && !BBOX!
          AND highway IN ('motorway', 'trunk', 'primary')
    ) _
  """

  [[providers.layers]]
  name = "transport_z9"
  id_fieldname = "osm_id"
  geometry_fieldname = "way"
  sql = """
  SELECT
      row_number() OVER () AS osm_id,
      ST_AsBinary(way) AS way,
      name,
      ref,
      class,
      link
    FROM (
      SELECT
          way,
          name,
          ref,
          highway AS class,
          FALSE AS link
        FROM planet_osm_roads
        WHERE way && !BBOX!
          AND highway IN ('motorway', 'trunk', 'primary', 'secondary')
    ) _
  """

  [[providers.layers]]
  name = "transport_z10"
  id_fieldname = "osm_id"
  geometry_fieldname = "way"
  sql = """
  SELECT
      row_number() OVER () AS osm_id,
      ST_AsBinary(way) AS way,
      name,
      ref,
      class,
      link
    FROM (
      SELECT
          way,
          name,
          ref,
          CASE WHEN substr(highway, length(highway)-4, 5) = '_link' THEN substr(highway, 0, length(highway)-4) ELSE highway END AS class, -- strip link
          substr(highway, length(highway)-4, 5) = '_link' AS link
        FROM planet_osm_line
        WHERE way && !BBOX!
          AND highway IN ('motorway', 'motorway_link', 'trunk', 'trunk_link', 'primary', 'primary_link',
                          'secondary', 'secondary_link', 'tertiary', 'tertiary_link')
    ) _
  """
  [[providers.layers]]
  name = "forests"
  id_fieldname = "osm_id"
  geometry_fieldname = "way"
  sql = """
  SELECT
      row_number() OVER () AS osm_id,
      ST_AsBinary(way) AS way
    FROM (
      SELECT
          way
        FROM planet_osm_polygon
        WHERE way && !BBOX!
          AND (landuse = 'forest' OR "natural" = 'wood')
          AND way_area > pixel_size(9)*4 -- working around tegola #343
    ) _
  """
[[maps]]
name = "bolder"

[[maps.layers]]
name = "water"
provider_layer = "osm2pgsql.ne_water"
min_zoom = 0
max_zoom = 5
[[maps.layers]]
name = "water"
provider_layer = "osm2pgsql.lz_water"
min_zoom = 6
max_zoom = 9
[[maps.layers]]
name = "water"
provider_layer = "osm2pgsql.water"
min_zoom = 10

[[maps.layers]]
name = "water_names"
provider_layer = "osm2pgsql.water_names"
min_zoom = 10

[[maps.layers]]
name = "forests"
provider_layer = "osm2pgsql.forests"
min_zoom = 4

[[maps.layers]]
name = "cities"
provider_layer = "osm2pgsql.cities"
min_zoom = 6
max_zoom = 15

# This should be 6-9 and 10+, but needs to be per layer to work around Tegola #343.
[[maps.layers]]
name = "transport"
provider_layer = "osm2pgsql.transport_z5"
min_zoom = 5
max_zoom = 5
[[maps.layers]]
name = "transport"
provider_layer = "osm2pgsql.transport_z6"
min_zoom = 6
max_zoom = 7
[[maps.layers]]
name = "transport"
provider_layer = "osm2pgsql.transport_z8"
min_zoom = 8
max_zoom = 8
[[maps.layers]]
name = "transport"
provider_layer = "osm2pgsql.transport_z9"
min_zoom = 9
max_zoom = 9
[[maps.layers]]
name = "transport"
provider_layer = "osm2pgsql.transport_z10"
min_zoom = 10
max_zoom = 15
